@charset "utf-8";


// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$green: #19B77E;
$background-light: #F0F0F0;
$dark-blue: #252E3C;
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $dark-blue;
$grey-light: $beige-light;
$primary: $green;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$input-focus-border-color: $green;
$input-focus-box-shadow-color: #c8c8c8;
$background-dark: $dark-blue;

// Update some of Bulma's component variables
$body-background-color: $background-light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";

// Extensions
// @import "../../node_modules/bulma-calendar/src/sass/index.sass";
// @import "../../node_modules/bulma-calendar/src/sass/timepicker.sass";