<!DOCTYPE html>
{% extends "main.html" %}
{% load widget_tweaks %}
    {% block content %}
        <!-- Notifications -->
        {% if messages %}
            {% for message in messages %}
                <!-- Success Message -->
                {% if message.message == "Thanks for signing up! We'll be in touch soon!" %}
                    <article class="message is-success">
                        <div class="message-header">
                        <p>Success</p>
                        <button class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                        {{ message }}
                        </div>
                    </article>
                {% else %}
                <!-- Failure Message -->
                <article class="message is-danger">
                    <div class="message-header">
                      <p>Failure</p>
                      <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                      {{ message.message }}
                    </div>
                  </article>
                {% endif %}
            {% endfor %}
        {% endif %}

        <!-- Content -->
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <div class="content is-medium">
                    <h1 class="title is-2">Optimize your finances.</h1>
                        <p class="subtitle">There is a lot of conflicting financial advice out there. Our personalized tools and guides
                            will help you cut through the noise and make the best decisions for your financial future.</p>
                            <p class="subtitle">Here is a sneak peek at some of our upcoming features:</p>
                            <ul>
                                <li>Use our backtesting engine to simulate the performance of your investment strategies</li>
                                <li>Securely connect to your financial accounts using Plaid for AI-assisted decision making</li>
                                <li>Save and compare scenarios to help make the best possible decision</li>
                                <li>Investing guides and educational content to help you take control of your finances</li>
                            </ul>
                            <p class="subtitle">Join our newsletter to stay in the loop on new features and content!</p>
                    </div>
                </div>
            </div>    
        </section>

        <!-- REGISTRATION FORM -->
        <section class="cta va">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box has-background-light">
                        <div class="container">
                        <div class="columns">
                            <div class="column is-6">
                            <h1 class="title is-2">Stay in Touch</h1>
                            <hr class="content-divider">
                            <h2 class="subtitle">Be the first to know about new features and tools for planning your financial future. We won't flood your inbox or share your email with anyone.</h2>
                            </div>
                            <div id="notify" class="column is-6">
                                <form method="POST">
                                    {% csrf_token %}
                                    {% for field in form.visible_fields %}
                                    <div class="field">
                                        <label class="label">{{field.label}}</label>
                                        <div class="bulma-control-mixin">
                                        {% render_field field class="input is-medium bulma-control-mixin" type="text" placeholder=field.label %}
                                        </div>
                                        <p class="help is-danger">{{field.errors}}</p>
                                    </div>
                                    <br>
                                    {% endfor %}
                                   
                                    <!-- <div class="field">
                                        <label class="label">Email</label>
                                        <div class="control">
                                            <input class="input is-medium" type="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <br> -->
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <button class="button js-modal-trigger is-primary is-large" data-target="registration-modal">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </section>
    {% endblock %}