<!DOCTYPE html>
{% extends "main.html" %}
    {% block content %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-2">Optimize your finances.</h1>
                <p class="subtitle">There is a lot of conflicting financial advice out there. Use our 
                    personalized calculators to cut through the noise and do your 
                    own analysis to make the best decisions for your financial future. </p>
                <a class="button is-primary is-large" href="#">Join the Waitlist</a>
            </div>
        </div>    
    </section>
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Save and compare multiple scenarios</h1>
                <p class="subtitle">Scenario-based planning helps you make the best possible decisions</p>
            </div>
        </div>
    </section>
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Get personalized recommendations that will make you money</h1>
                <p class="subtitle">Our smart platform provides insights to help you take action for a brighter future</p>
            </div>
        </div>
    </section>
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Securely connect to your financial accounts for personalized calculations (Coming soon!)</h1>
                <p class="subtitle">We use Plaid to securely connect to your accounts with read-only access.</p>
            </div>
        </div>
    </section>
        {% endblock %}